@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Nikosh'; /* You can name it anything */
  src: url('../src/assets/fonts/banglaFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #ffacaca8;
  color: #303030;
  -webkit-text-fill-color: #303030;
}

.bangla-font {
  font-family: 'Nikosh', Arial, Helvetica, sans-serif;
}

.normal-font{
  font-family: Arial, Helvetica, sans-serif;
}


.spin-slow {

    animation: spin 30s linear infinite;
}
    

.banner-bg{
    background-image: url('../src/assets/banner_abstract.png');
}